extends layout.pug

block heading
    h1 Login Page
block form
    form(name= 'form' method='post' action='/')
        label(for='useremail') User Name
        br
        input#useremail(type='email' name='user[email]' required='' placeholder='Enter Email')
        br
        label(for='password') Password
        br
        input#password(type='password' name='user[password]' required='' minlength='8' placeholder='Enter Password')
        br
        input#loginbtn(type='submit' value='Log In')
        p#error= error
        p
        a#signup(href='http://localhost:3000/signup') Create an Account